<!-- chat/templates/chat/room.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
{% block script %}
	<script src="{% static 'js/socket.io.js'%}"></script>
{% endblock %}
<script>
    var roomName = {{ room_name_json }};

    console.log(window.location.protocol);
    let prefix = window.location.protocol === 'http:' ? 'ws://' : 'wss://';

    console.log(prefix +  window.location.host + '/ws/chat/' + roomName + '/');

	var chatSocket = new WebSocket(prefix +  window.location.host + '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
	// // Create WebSocket connection.
	// const socket = new WebSocket('ws://' + window.location.host + '/ws/chat/eeee/');
	//
	// // Connection opened
	// socket.addEventListener('/ws/chat/eeee/', function (event) {
	//     socket.send('Hello Server!');
	// });
	//
	// // Listen for messages
	// socket.addEventListener('/ws/chat/' + roomName + '/', function (event) {
	//     console.log('Message from server ', event.data);
	// });
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>
</html>